.listOfSubreddits {
    margin-top: 50px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 5px 5px 10px 5px;
}

.listOfPosts {
    border: 2px solid lightblue;
    padding: 5px 5px 10px 5px;
    margin: 20px 20px;
}
.listOfPosts h4 {
    text-align: center;
}
.listOfPosts ul li {
    display: inline;
    text-align: left;
    padding: 4px;
}
.fa-arrow-up {
    color: darkorange;
}
.fa-gg-circle {
    color: goldenrod;
}