.listOfSubreddits {
    margin-top: 50px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 5px 5px 10px 5px;
}

.listOfPosts {
    border: 2px solid lightblue;
    padding: 5px 5px 10px 5px;
    margin: 20px 20px;
}
.listOfPosts h4 {
    text-align: center;
    padding-bottom: 20px;
}
.listOfPosts ul li {
    display: inline;
    /*text-align: left;*/
    padding-top: 10px;
}
li:nth-child(2),li:nth-child(3), li:nth-child(4), li:nth-child(5) {
    padding-left: 10px;
}
.listOfPosts a li {
    padding-left: 10px;
    text-decoration: none;
}
.fa-arrow-up {
    color: #FF5700;
}
.fa-gg-circle {
    color: #DEBE22;
}
.fa-reddit {
    color: #FF5700;
}
.fa-exclamation-triangle {
    color: red;
}